<div class="content">
    <h2>Hello, we are LeWildCode.</h2>
    <p>
        A <a href="https://github.com/lewildcode?tab=members">group of developers</a> blogging about web technologies and
        development.
    </p>
    <p>
        Whenever possible, we're creating <a href="http://de.wikipedia.org/wiki/FLOSS">FLOSS</a> projects out of our work,
        take a look at <a href="https://github.com/lewildcode">our Github repository</a> and feel free to contribute.
    </p>
    <p>
        <iframe class="github-btn"
            src="http://ghbtns.com/github-btn.html?user=lewildcode&repo=lewildcode.github.io&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
        &nbsp;
        <iframe class="github-btn"
            src="http://ghbtns.com/github-btn.html?user=lewildcode&repo=lewildcode.github.io&type=fork&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </p>
    <p>
        <a href="https://twitter.com/lewildcode" class="twitter-follow-button" data-link-color="#0069D6"
            data-show-count="true">Follow @lewildcode</a>
    </p>

    <h2>Who?</h2>
    
    <ul class="clearfix unstyled">
        {% for author_id in site.author_ids %}
            {% assign author = site.authors[author_id] %}
            {% if author.display_in_team %}
                <li class="pull-left"><a href="{{ author.link }}" title="{{ author.display_name }}"><img src="http://www.gravatar.com/avatar/{{ author.gravatar_hash }}" title="{{ author.display_name }}" data-toggle="tooltip" /></a></li>
            {% endif %}
        {% endfor %}
    </ul>
    
    <h2>ZF2 Modules</h2>
    
    <ul>
        <li><a href="http://github.com/lewildcode/LwcStaticPage">LwcStaticPage</a></li>
        <li><a href="http://github.com/lewildcode/LwcYoutubeTools">LwcYoutubeTools</a></li>
    </ul>
    
    <h2>PHP Libraries</h2>
    
    <ul>
        <li><a href="http://github.com/lewildcode/LwcRaspi">LwcRaspi</a></li>
    </ul>
    
    <ul class="unstyled">
        <li class="pull-left"><a href="http://github.com/lewildcode" rel="me" class="social github"
            title="Go to github.com/lewildcode" target="_blank"></a></li>
        <li class="pull-left"><a href="http://www.twitter.com/lewildcode" rel="me" class="social twitter"
            title="Go to twitter.com/lewildcode" target="_blank"></a></li>
        <li class="pull-left"><a href="http://feeds.feedburner.com/lewildcode" rel="me" class="social rss"
            title="Subscribe feed" target="_blank"></a></li>
        <li class="pull-left"><a href="https://github.com/lewildcode/lewildcode.github.io/issues/new" rel="me" class="social mail"
            title="Leave feedback for LeWildCode" target="_blank"></a></li>
    </ul>
    
</div>