<h2>Hello, we are LeWildCode.</h2>
<p>A [group of developers](https://github.com/lewildcode?tab=members) blogging about web technologies and development. </p>
<p>Whenever possible, we're creating [FLOSS](http://de.wikipedia.org/wiki/FLOSS) projects out of our work, take a look at [our Github repository](https://github.com/lewildcode) and feel free to contribute.</p>
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=lewildcode&repo=lewildcode.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=lewildcode&repo=lewildcode.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/lewildcode" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @lewildcode</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/lewildcode" rel="me" class="social github" title="Go to github.com/lewildcode" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/lewildcode" rel="me" class="social twitter" title="Go to twitter.com/lewildcode" target="_blank"></a></li>
	  <li><a href="https://github.com/lewildcode/lewildcode.github.io/issues/new" rel="me" class="social mail" title="Leave feedback for LeWildCode"  target="_blank"></a></li>				
	</ul>
</p>
